body {
     min-width: 100vh;
     margin: 0;
}

header{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: antiquewhite;
     width: 100%;
     border: 2px black solid;
}

main {
     display: flex;
     height: 100vh;
}
nav{
     display: flex;
     flex-direction: column;
     width: 20%;
     align-items: center;
     border: 2px black solid;
}
.link{
     margin-top: 50px;
     width: 150px;
     height: 40px;
}

.game-section{
     display: flex;
     flex-direction: column;
     flex-grow: 1;
     border: 2px black solid;
}
h2{
     display: flex;
     justify-content: center;
}

.user-input{
     display: flex;
     flex-direction: column;
     border: 2px grey solid;
     margin: 50px;
     padding: 10px;
}

.persLabl, .fictLabl, .adv, .adj{
     margin-left: 50px;
}

#persInp, #fictChar, #adverb, #adjective{
     width: 50%;
     margin-left: 50px;
}
.btn{
     display: flex;
     justify-content: center;
     width: 100%;
}
button {
     width: 20%;
     background-color: chocolate;
     color: white;
     font-weight: bold;
     font-size: 16pt;
     border-radius: 45px;
     /* animation-name: button-color; 
     animation-duration: 0.5s; */
}
/* @keyframes button-color {
     from {background-color: chocolate;}
     to {background-color: darkgoldenrod;}
} */
a:link, a:visited, a:hover, a:active{
     color: black;
     font-size: 18pt;
}
.output{
     margin: 50px;
     width: 75%;
     border: 2px black solid;
}